---
import { Image } from "astro:assets";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("about", "index");
const { Content } = await entry.render();
const { title, description, meta_title, image} = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
<section class="section">
  <div class="container">
    <!-- Assuming the rest of your structure is semantically correct -->
    <article class="sm:col-7 md:col-8">
      <header>
        <h1 set:html={markdownify(title)}></h1>
      </header>

      <div class="content" >
        <Content />
      </div>
      
      <!-- Centering the button semantically -->
      <div style="text-align: center;">
        <a href="/contact" class="btn btn-primary text-white py-2" role="button" aria-label="Contact us">
          Contact
        </a>
      </div>
    </article>
  </div>
</section>


</Base>
