---
import TwSizeIndicator from "@/components/TwSizeIndicator.astro";
import config from "@/config/config.json";
import theme from "@/config/theme.json";
import { plainify } from "@/lib/utils/textConverter";
import Footer from "@/partials/Footer.astro";
import Header from "@/partials/Header.astro";
import "@/styles/main.scss";
import { AstroFont } from "astro-font";
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";


// font families
const pf = theme.fonts.font_family.primary;
const sf = theme.fonts.font_family.secondary;

let fontPrimary, fontSecondary;
if (theme.fonts.font_family.primary) {
  fontPrimary = theme.fonts.font_family.primary
    .replace(/\+/g, " ")
    .replace(/:[ital,]*[ital@]*[wght@]*[0-9,;]+/gi, "");
}
if (theme.fonts.font_family.secondary) {
  fontSecondary = theme.fonts.font_family.secondary
    .replace(/\+/g, " ")
    .replace(/:[ital,]*[ital@]*[wght@]*[0-9,;]+/gi, "");
}

// types for frontmatters
export interface Props {
  title?: string;
  meta_title?: string;
  description?: string;
  image?: string;
  noindex?: boolean;
  canonical?: string;
}

// distructure frontmatters
const { title, meta_title, description, image, noindex, canonical } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
        <SEO
        title="Farmacistul Familiei - Sănătate și Îngrijire pentru Intreaga Familie"
        description="Farmacistul Familiei oferă sfaturi profesioniste pentru sănătatea și bunăstarea familiei tale. Descoperă produse farmaceutice de calitate și informații de încredere pentru toate nevoile tale de îngrijire personală."
        openGraph={{
          basic: {
            title: "Farmacistul Familiei - Sănătate și Îngrijire pentru Intreaga Familie",
            type: "website",
            image: "https://farmacistulfamiliei.ro/images/logo.webp", 
          }
        }}
        twitter={{
          creator: "@FarmacistulFamiliei"
        }}
        extend={{
          link: [{ rel: "icon", href: "/favicon.ico" }],
        }}
    />
    <!-- Preconnect and DNS-Prefetch for ad providers -->
    <link rel="preconnect" href="https://pagead2.googlesyndication.com" crossorigin>
    <link rel="dns-prefetch" href="https://pagead2.googlesyndication.com">
    <link rel="preconnect" href="https://l.profitshare.ro" crossorigin>
    <link rel="dns-prefetch" href="https://l.profitshare.ro">
    <!-- adsense -->
    <script async src-elem="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8307251770707941" crossorigin="anonymous"></script>
    <!-- favicon -->
    <link rel="shortcut icon" href={config.site.favicon} />
    {image && (
      <link rel="preload" href={image} as="image" />
    )}
    <!-- theme meta -->
    <meta name="google-adsense-account" content="ca-pub-8307251770707941">
    <meta name='profitshareid' content='adc5586384dfbe6b7337d010e86e62e7' />
    <meta name="theme-name" content="farmacistul familiei" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#fff"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#000"
    />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- google font css -->
    <AstroFont
      config={[
        {
          src: [],
          preload: false,
          display: "swap",
          name: fontPrimary!,
          fallback: "sans-serif",
          cssVariable: "font-primary",
          googleFontsURL: `https://fonts.googleapis.com/css2?family=${pf}&display=swap`,
        },
        {
          src: [],
          preload: false,
          display: "swap",
          name: fontSecondary!,
          fallback: "sans-serif",
          cssVariable: "font-secondary",
          googleFontsURL: `https://fonts.googleapis.com/css2?family=${sf}&display=swap`,
        },
      ]}
    />

    <!-- responsive meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />

    <!-- title -->
    <title>
      {plainify(meta_title ? meta_title : title ? title : config.site.title)}
    </title>

    <!-- canonical url -->
    {canonical && <link rel="canonical" href={canonical} item-prop="url" />}

    <!-- noindex robots -->
    {noindex && <meta name="robots" content="noindex,nofollow" />}
    
    <!-- meta-description -->
    <meta
      name="description"
      content={plainify(
        description ? description : config.metadata.meta_description,
      )}
    />

    <!-- astro-sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <ViewTransitions />

    <!-- og-title -->
    <meta
      property="og:title"
      content={plainify(
        meta_title ? meta_title : title ? title : config.site.title,
      )}
    />

    <!-- og-description -->
    <meta
      property="og:description"
      content={plainify(
        description ? description : config.metadata.meta_description,
      )}
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content={`${config.site.base_url}/${Astro.url.pathname.replace("/", "")}`}
    />

    <!-- twitter-title -->
    <meta
      name="twitter:title"
      content={plainify(
        meta_title ? meta_title : title ? title : config.site.title,
      )}
    />

    <!-- twitter-description -->
    <meta
      name="twitter:description"
      content={plainify(
        description ? description : config.metadata.meta_description,
      )}
    />

    <!-- og-image -->
    <meta
      property="og:image"
      content={`${config.site.base_url}${
        image ? image : config.metadata.meta_image
      }`}
    />

    <!-- twitter-image -->
    <meta
      name="twitter:image"
      content={`${config.site.base_url}${
        image ? image : config.metadata.meta_image
      }`}
    />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "b7ce01e82b3640ad8f2a41b7418eb3e7"}'></script><!-- End Cloudflare Web Analytics -->  <body>
    <TwSizeIndicator />
    <Header />
    <!-- Start ProfitShare Zone -->
    <script type="text/javascript">
        (function(){
          var bsa = document.createElement("script");
            bsa.type = "text/javascript";
            bsa.async = true;
            bsa.src = "//l.profitshare.ro/files_shared/lps/js/3V8/GE.js?v=1708076352";
          (document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(bsa);
        })();
    </script>
    <!-- End ProfitShare Zone -->		
    <main id="main-content" class="min-h-[60vh]">
      <slot />
    </main>
    <Footer />
  </body>
</html>
